.user_dp_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user_name {
  font-weight: 700;
}
.menu_container {
  transition: all 0.8s ease-in-out;
  width: 200px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.col-sm-3 {
  position: absolute;
}
.btn_actvie {
  background: #fff;
  color: #000;
}
.click_me {
  width: 50px;
  height: 30px;
  position: absolute;
  right: -25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ccc;
  font-weight: 700;
  display: none;
}
.click_me::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #0d6efd;
  z-index: -1;
  top: 0px;
  right: -1.5px;
}
@media screen and (max-width: 480px) {
  .user {
    width: 80px;
    height: 80px;
  }
  .menu_container {
    width: 200px;
  }
  .click_me {
    display: flex;
  }
}
